{# @MajoraGenerator({"force_generation": true}) #}
{% extends 'GescoAdminMajoraNamespaceBundle:MajoraEntity:form.html.twig' %}

{% block active_breadcrumb %}
    <li class="active">{{ 'admin.majora_entity.breadcrumb.create'|trans }}</li>
{% endblock %}

{% block majora_entity_form_action url('gesco_admin_majora_entity_create') %}

{% block majora_entity_form_title 'admin.majora_entity.creation.title'|trans %}
